
<link rel="stylesheet" type="text/css" href="~/css/aboutpage.css" />

@{
    ViewData["Title"] = "AboutBot";
}
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


<body style="background-color:#FFF9EAFF">
    <h4 style="padding-top:20px">
        What is StudyBolt?
    </h4>
    <p>StudyBolt is a collaboration of 2 parts – the Discord bot and the website.</p>

    <h4>Discord Bot</h4>
    <p>The Discord bot is a study bot specially designed for primary school children (at least for now) to enter simple commands on a discord server <br /> which will allow for easy retrieval of syllabus content at home or even on the go. </p>

    <h4>Website</h4>
    <p>This is where most of the magic happens. Teachers or content providers will be able to upload syllabus content on the website through their MOE account. This content will later be access via the discord bot. </p>

    <h4>How can I add StudyBolt to my server or school server?</h4>
    <p>Click the invite button on the website, or click this link</p>

    <h4>How do I use StudyBolt’s discord bot?</h4>
    <p>
        To use the bot, it will only require simple instructions in the form of text. <br />
        ‘-study’: The main instruction to start the bot.<br />
        ‘-eng’ or ’-english’: The chapters related to the English subject syllabus will appear.<br />
        ‘-math’ or ’-mathematics’: The chapters related to the Mathematics subject syllabus will appear.<br />
        ‘-sci’ or ’-science’: The chapters related to the Science subject syllabus will appear.<br />
        ‘-chap[chapter number]’ or ‘-chapter[chapter number]’: The chapter’s content will appear. This will be the content that was uploaded by the teacher or content provider which can be in the form of videos, pictures, text, or links.
    </p>
</body>
