
@{
    ViewData["Title"] = "Community";
    Layout = "_StudentHeader";
}

    Discuss Here!
    <body style="background-color:#FFF9EAFF">
        <fieldset>
            <b><legend style="text-align:center; font-size:50px">Discuss Here!</legend></b>
            <label>Type something...</label>
            <textarea id="myTextArea" rows="3" cols="80"></textarea>
        </fieldset>
    </body>
