body {
    font-family: 'Press Start 2P';
    background-image: url('../images/chalkboard.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    z-index: -2;

}

#Welcome {
    margin-top: 30px;
    text-align: center;
    color: #e3f2fd;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 80px;
}


#btnUpload {
    width: 30%;
    height: 40px;
    background-color: #e3f2fd;
    color: black;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
    border: 2px solid #e3f2fd;
    transition-duration: 0.4s;
}

#btnUpload:hover {
    background-color: white;
}


.center {
    margin: 0;
    position: absolute;
    left:50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

