<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudyBolt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteHeader.css" />
</head>
<body>
    <header style="font-family: 'Press Start 2P'">
        <nav class="navbar navbar-expand-md navbar-light">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudyBolt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutBot">Our Bot</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @*A link for logging in user*@
                        <div class="cursor">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#myModal">Login</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sign Up
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Home" asp-action="RegisterTeacher">Teacher</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="RegisterStudent">Student</a>
                        </div>
                    </li>
                </ul>                   

            </div>

        </nav>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form asp-action="Login">
                        <fieldset class="loginFieldset">
                            <legend style="text-align:center"><u>Login</u></legend>
                            <br />
                            <div class="form-group row">
                                <label for="txtLoginID" class="col-sm-3 col-form-label">Email:</label>
                                <input type="email" name="txtLoginID" id="txtLoginID" class="col-sm-8 col-md-7" required>
                            </div>
                            <div class="form-group row">
                                <label for="txtPassword" class="col-sm-3 col-form-label">Password:</label>
                                <input type="password" name="txtPassword" id="txtPassword" class="col-sm-8 col-md-7" required>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input class="button" type="submit" value="Login">
                                </div>
                            </div>
                            
                            <br />
                            <span style="color:red;">@TempData["Message"]</span>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - StudyBolt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
